.connect-wallet-button {
  display: grid;
  place-items: center;
}

.winnerBadge {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px 16rem;
    border: 2px solid purple;
    border-radius: 10px;
    justify-content: space-between;
    background: #7F7F7F;
  background: -webkit-linear-gradient(top left, #7F7F7F, #070707);
  background: -moz-linear-gradient(top left, #7F7F7F, #070707);
  background: linear-gradient(to bottom right, #7F7F7F, #070707);
  }
  
  .know_more {
    font-size: 26px;
    color: white;
    font-weight: 600;
    padding: 16px;
  }
  
  a {
    text-decoration: none;
  }
  
  @media (max-width: 750px) {
    .winnerBadge {
      margin: 5px;
    }
  }
  